.checkList{
	border: 1px solid #ccc;
	display: block;
	height: 300px;
}

.checkList .toolbar{
	background-color: #eee;
	border-bottom: 1px solid #ccc;
	padding: 3px;
	overflow: hidden;
}

.checkList .toolbar .txtFilter{
	width: 120px;
	margin-left: 3px;
	border:1px solid #ccc;
}

.checkList .toolbar .filterbox{
	display: inline-block;
	float: right;
}

.checkList .toolbar .chkAll{
	margin-top: 7px;
	border-right: 1px solid #ccc;
}

.checkList .table{
	width: 100%;
	border-spacing: 0;
}

.checkList .table td{
	padding: 2px;
	border-bottom: 1px solid #eee;
}

.checkList tr td:first-child{
	width: 16px;
}

.checkList tr td label{
	display: inline-block;
	width: 100%;
}

.highlight{
	background-color: #FFC;
}