.layout-panel-south {
    background: #EAEDF1;    
}

#south-panel {
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#ffffff), to(#eaedf1));
    background: -moz-linear-gradient(#ffffff, #eaedf1); /*-pie-background: linear-gradient(#ffffff, #eaedf1);*/
    height:30px;
    vertical-align: middle;
    overflow: hidden;
}

#statusbar .panel {
    border-right: 1px solid #CCCCCC;
    margin: 1px;
    padding: 5px 10px 0px 5px;
    float: left;
    height: 28px;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#ffffff), to(#eaedf1));
    background: -moz-linear-gradient(#ffffff, #eaedf1); /*-pie-background: linear-gradient(#ffffff, #eaedf1);*/    
}

#statusbar .last-panel {
    border-right: none;    
}

#statusbar #statustotalloaded {
    width: 140px;
}

#statusbar #status {
    width: 140px;
}

#statusbar #social-twitter {
    float: right;
}

#statusbar #social-fb {
    float: right;
}