.dx-datagrid-tb {
    padding:5px;
    height:20px;
    display: table;
}

.dx-datagrid-tb .dx-datagrid-tb-header {
    font-weight: bold;
}

.dx-datagrid-tb .dx-datagrid-tb-header-label {
    display: table-cell;
    vertical-align: middle;    
}
.dx-datagrid-tb #dx-datagrid-tb-label-following {
    width: 65px;
}


.dx-datagrid-tb .dx-datagrid-tb-field {
    padding-right: 10px;
    display: table-cell;
    vertical-align: middle    
}

.dx-datagrid-tb #dx-datagrid-tb-following {

}
