                <span class="ribbon-title">Info</span>
                <div class="ribbon-backstage">
                    <table with="100%">
                        <tr>
                            <td width="50%" valign="top">
                                <h2>Credits</h2>
                                <h3>Satellite Orbit tracked (iSat) <a target="_blank" href="https://github.com/koansys/isat">Visit on GitHub<span class="imageanchor"><img src="/images/external_link.gif"></span></a></h3>
                                
                                Without the excellent work being done on this project <em>AgSatTrack - Online</em> would not exists. The SOT project provided the initial code to build a test version of <em>AgSatTrack - Online</em> prior to starting development on the full blown version. 
            
                                <h3>Cesium <a target="_blank" href="http://cesium.agi.com/">Visit Cesium Home<span class="imageanchor"><img src="/images/external_link.gif"></span></a></h3>

                                <div style="float:left;">                                
                                    <a href="http://cesium.agi.com/" target="_blank"><img src="/images/cesium_logo.svg" width="100" /></a>
                                </div>

                                Cesium is a JavaScript library for creating 3D globes and 2D maps in a web browser without a plugin. It uses WebGL for hardware-accerlated graphics, and is cross-platform, cross-browser, and tuned for dynamic-data visualization. Cesium is open source under the Apache 2.0 license. It is free for commercial and non-commercial use.

                                <h2>Other Libraries used</h2>
                                <h3>Slim <a target="_blank" href="http://www.slimframework.com/">Visit Slim Home<span class="imageanchor"><img src="/images/external_link.gif"></span></a></h3>
                                <h3>jQuery <a target="_blank" href="http://jquery.com/">Visit jQuery Home<span class="imageanchor"><img src="/images/external_link.gif"></span></a></h3>
                                <h3>jQuery UI <a target="_blank" href="http://jqueryui.com/">Visit jQuery UI Home<span class="imageanchor"><img src="/images/external_link.gif"></span></a></h3>
                                <h3>EasyUI <a target="_blank" href="http://www.jeasyui.com/">Visit EasyUI Home<span class="imageanchor"><img src="/images/external_link.gif"></span></a></h3>
                                <h3>jQWidgets <a target="_blank" href="http://www.jqwidgets.com/">Visit jQWidgets Home<span class="imageanchor"><img src="/images/external_link.gif"></span></a></h3>
                                <h3>Joyride <a target="_blank" href="http://www.zurb.com/playground/jquery-joyride-feature-tour-plugin">Visit Joyride Home<span class="imageanchor"><img src="/images/external_link.gif"></span></a></h3>
                                <h3>Kinetic <a target="_blank" href="http://kineticjs.com/">Visit Kinetic Home<span class="imageanchor"><img src="/images/external_link.gif"></span></a></h3>
                                <h3>Modernizer <a target="_blank" href="http://modernizr.com/">Visit Modernizer Home<span class="imageanchor"><img src="/images/external_link.gif"></span></a></h3>

                                <h3>Gpredict <a target="_blank" href="http://gpredict.oz9aec.net/">Visit Gpredict Home<span class="imageanchor"><img src="/images/external_link.gif"></span></a></h3>
                                <h3>PredictLib <a target="_blank" href="http://andrewtwest.com/orbtrak/">Visit PredictLib Home<span class="imageanchor"><img src="/images/external_link.gif"></span></a></h3>
                                
                                
                                <h2>Special Thanks To</h2>
                                Steve (aka Virus) for the logo
                            </td>
                            <td valign="top">
                                <h2>Licence</h2>
                                <p>Copyright 2012-2013 Alex Greenland</p>
                                <p>Licensed under the Apache License, Version 2.0 (the "License");<br /> you may not use this file except in compliance with the License. You may obtain a copy of the License at</p>
                                <a target="_blank" href="http://www.apache.org/licenses/LICENSE-2.0">http://www.apache.org/licenses/LICENSE-2.0</a>
                                <p>Unless required by applicable law or agreed to in writing, software distributed under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the License for the specific language governing permissions and limitations under the License.</p>                                
                            </td>
                        </tr>
                    </table>
                </div>