    <ol id="joyRideTipContent">
      <li data-id="sat-group-selector" data-button="Next" data-options="tipLocation:top;tipAnimation:fade">
        <h2>Select a Group</h2>
        <p>This drop down contains the groups you can use. Amateur is loaded by default. Selecting another group will load the satellites from that group.</p>
      </li>
      <li data-id="sat-selector" data-button="Next" data-options="tipLocation:top;tipAnimation:fade">
        <h2>Select Satellites</h2>
        <p>Select the satellites you wish to display. Satellites in the right hand listbox will be displayed. Checking the checkbox will also display the orbit and footprint.</p>
      </li>
      <li data-id="view-select" data-button="Next" data-options="tipLocation:top;tipAnimation:fade">
        <h2>Switch View</h2>
        <p>Select the view to display. You can also set the ribbon bar to switch view when you click on a tab, look in the settings under views.</p>
      </li>      
      <li data-id="ribbon-tab-header-strip" data-button="Next" data-options="tipLocation:top;tipAnimation:fade">
        <h2>View Tabs</h2>
        <p>Each view has customisable options</p>
      </li> 
      <li data-id="satinfot" data-button="Next" data-options="tipLocation:right;tipAnimation:fade">
        <h2>Satellite Information</h2>
        <p>The left hand pane contains details about the selected satellite. If multiple satellites are selected then a drop down will be available to select which satellite to show data for.</p>
      </li>       
      <li data-id="options" data-button="Close" data-options="tipLocation:top;tipAnimation:fade">
        <h2>Program Options</h2>
        <p>Setup Agsattrack how you like it :-)</p>
      </li>  
           
    </ol>